<h1>User Specs:</h1>

  <ul>
    <li>User's Name: <%= @user.first_name %> <%= @user.last_name %></li>
    <li>User's username: <%= @user.username %></li>
    <li>User email: <%= @user.email %></li>
  </ul>

<br><br>
<%= link_to "Edit User Details", user_edit_path(@user) %>
<br>
<%= link_to "Log Out", logout_path %>