<h1>Signup</h1>

<% flash.each do |key, value| %>
 <% if key == "notice" %>
   <%= content_tag :div, value, class: "text-center alert alert-warning" %>
 <% elsif key == "alert" %>
   <%= content_tag :div, value, class: "text-center alert alert-danger" %>
 <% else %>
   <%= content_tag :div, value, class: "text-center alert alert-success" %>
 <% end %>
<% end %>

<%= form_for @user, url: {action: "create_user"} do |f| %>

  <p>

    FirstName: <%= f.text_field(:first_name, autofocus: true, required: true) %>
    <br>
    LastName: <%= f.text_field(:last_name, required: true) %>
    <br>
    Email: <%= f.text_field(:email, required: true) %>
    <br>
    UserName: <%= f.text_field(:username, required: true) %>
  </p>
  <p>
    Password: <%= f.password_field(:password, required: true) %>
  </p>
  <p>
    <%= f.submit("Signup") %>
  </p>
  <%= link_to "Have an account already? Login here", login_path %>

<% end %>